{
    "tabWidth": 4,
    "arrowParens": "avoid",
    "jsxSingleQuote": true,
    "jsxBracketSameLine": true,
    "singleQuote": true,
    "trailingComma": "none",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
